@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: "Plus Jakarta Sans" , sans-serif;
}

.liteBlueBox {
    width: 100vw;
    background: #EFF0F3;
}

header {
    margin: auto;
    width: 1250px;
    background: #EFF0F3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 86px;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}

.logo h3 {
    color: #001858;
    font-size: 36px;;
    font-weight: 600;
}
.logo span{
    color:#6246EA;
    font-size: 18px;
    font-weight: 700;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
nav ul li {
    color:#2B2C34;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
nav ul>li:nth-child(5) {
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background:#6246EA;
    color: #FFFFFE;
    font-size: 18px;
}

.aboutMe{
    margin-top: 270px;
    display: flex;
    justify-content: space-between;
}
.info{
    width: 664px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.info h1{
    color: #2B2C34;
    font-size: 64px;;
    font-weight: 700;
    text-transform: capitalize;
}
.info p{
    color:#9A9494;
    font-size: 20px;
    font-weight: 400;
}
.info form{
    display: flex;
    gap: 20px;
}
.info input{
    display: flex;
    padding: 21px 200px 21px 25px;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background:#FFFFFE;
}
.info input::placeholder{
    color:#C0C0C0;
    font-size: 20px;
    font-weight: 400;
}

.info button{
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #6246EA;
    color:#FFFFFE;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.category{
    margin-top: 334px;
    height: 500px;
}
.navCategory{
    display: flex;
    justify-content: space-between;
}
.category p:first-child{
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.category p:nth-child(2){
    color:#2B2C34;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.cards{
    margin-top: 50px;
    display: flex;
    gap: 37px;
}
.cards div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    width: 220px;
    height: 280px;
    padding-left: 30px;
    border-radius: 8px;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    background:#FFFFFE;
}
.cards .activeLink{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 8px;
}
.cards div:nth-child(3){
    background:#6246EA;
}
main{
    margin:80px auto;
    width: 1250px;
}
.container{
    display: flex;
    flex-direction: column;
}
.articleNavigate{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.articleNavigate p:first-child{
    color:#2B2C34;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.articleNavigate p:nth-child(2){
    color: #2B2C34;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.cardsBlock{
    display: flex;
}
.articleCard{
    width: 300px;
    height: 425px;
    padding: 20px;
    border-radius: 12px;
}
.articleCard img:first-child{
    width: 260px;
    height: 198px;
}
.articleCard h3{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.cardFooter{
    display: flex;
}
.articleCard .cardFooter img{
    width: auto;
    height: auto;
}
.cardText h4{
    font-size: 16px;
    font-weight: 600;
}
.cardText p{
    color:#2B2C34;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}





